@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
 
// Aqui podrás personalizar tus estilos. Gracias el framework de Nebular. 
$nb-themes: nb-register-theme((
  separator: #ebeef2, 
  color-primary: #7f264a, 
//   header-bg: #611F3A, 
  form-control-border-width: 1px, 
), default, default);