<div class="row">
  <div class="col-md-12">
    <p class="lamb-text-title-dashboard">
      <i class="fa fa-tachometer lamb-icon-dashboard"></i>
      Escritorio
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xl-8">
    <nb-card>
      <nb-card-header>
        <span class="lamb-card-header">
    
          <!-- <p class="lamb-card-header"> -->
          dataa
        </span>
        <!-- <span>Traffic</span> -->
        <div>
          <i class="fa fa-plus-circle lamb-icon-table lamb-button-menu" (click)="onCreate()"></i>
          <i class="fa fa-list-ul lamb-icon-table lamb-list lamb-button-menu" (click)="goListOperations()"></i>
        </div>
        <!-- </p> -->
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive">
          
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xl-4">
    <nb-card>
      <nb-card-header>
        <span class="lamb-card-header">
    
          <!-- <p class="lamb-card-header"> -->
          Aca va otro resumen
        </span>
        <!-- <span>Traffic</span> -->
        <div>
          <i class="fa fa-plus-circle lamb-icon-table lamb-button-menu" (click)="onCreate()"></i>
          <i class="fa fa-list-ul lamb-icon-table lamb-list lamb-button-menu" (click)="goListOperations()"></i>
        </div>
        <!-- </p> -->
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive">
          
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <!-- Esto va a depender del rol -->
  <div class="col-xl-6">
    <nb-card>
      <nb-card-header>
        <span class="lamb-card-header">
    
          <!-- <p class="lamb-card-header"> -->
          Aca va otro 
        </span>
        <!-- <span>Traffic</span> -->
        <div>
          <i class="fa fa-plus-circle lamb-icon-table lamb-button-menu" (click)="onCreate()"></i>
          <i class="fa fa-list-ul lamb-icon-table lamb-list lamb-button-menu" (click)="goListOperations()"></i>
        </div>
        <!-- </p> -->
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive">
          
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xl-6">
    <nb-card>
      <nb-card-header>
        <span class="lamb-card-header">
    
          <!-- <p class="lamb-card-header"> -->
          Aca va otro resumen
        </span>
        <!-- <span>Traffic</span> -->
        <div>
          <i class="fa fa-plus-circle lamb-icon-table lamb-button-menu" (click)="onCreate()"></i>
          <i class="fa fa-list-ul lamb-icon-table lamb-list lamb-button-menu" (click)="goListOperations()"></i>
        </div>
        <!-- </p> -->
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive">
          
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <!-- Esto va a depender del rol -->
  <div class="col-xl-12">
    <nb-card>
      <nb-card-header>
        <span class="lamb-card-header">
    
          <!-- <p class="lamb-card-header"> -->
          Aca va otro resumen
        </span>
        <!-- <span>Traffic</span> -->
        <div>
          <i class="fa fa-plus-circle lamb-icon-table lamb-button-menu" (click)="onCreate()"></i>
          <i class="fa fa-list-ul lamb-icon-table lamb-list lamb-button-menu" (click)="goListOperations()"></i>
        </div>
        <!-- </p> -->
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive">
          
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>