.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}


@media screen and (max-width: 800px) {
    
    /* Desaparecer el header */
      table.tablaPrecios thead, th {
         border: none;
         clip: rect(0, 0, 0, 0);
         height: 1px;
         margin: -1px;
         overflow: hidden;
         padding: 0;
         position: absolute;
         width: 1px;
      }

      table.tablaPrecios tr{
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }
   

      table.tablaPrecios td {
       border-bottom: 1px solid #ddd;
       display: block;
       font-size: 1.2em;
       text-align: right !important;
       padding: 10px;
     }

     table.tablaPrecios td:before{
        content: attr(data-label);
        float: left;
        color: #273b47;
        font-weight: bold;
        font-size: 1em;
        padding: 1px 5px;
    }
    table.tablaPrecios td:last-child{
        text-align: center;
    }
    .tabla {
        margin: 0;
      }

}
