<nb-card>
  <nb-card-header>
    <span class="lamb-card-header">
      <i class="fa fa-shopping-cart lamb-icon-table"></i>
      Realizar una Operación
    </span>
    <div>
      <!-- <i class="fa fa-plus-circle lamb-icon-table" (click)="onCreate()"></i>
      <i class="fa fa-list-ul lamb-icon-table lamb-list"></i> -->
      <!-- <button nbButton size="xsmall" (click)="onCreate()">
        <i class="fa fa-plus-circle"></i>
        Nuevo</button> -->
    </div>
  </nb-card-header>
  <nb-card-body>

    <table class="table table-striped tablaPrecios">
      <thead>
        <tr>
          <th class="text-center">N</th>
          <th class="text-center">Número de Documento</th>
          <th>Tipo de solicitud</th>
          <th class="text-center">Remitente</th>
          <th class="text-center">Asunto</th>
          <th class="text-center">Fecha</th>
          <th class="text-center">Área destino</th>
          <th class="text-center">Estado</th>
          <th class="text-center">Acciones</th>
          <th class="text-center">
              <nb-radio value="N"></nb-radio>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td data-label="N: "  class="text-center"> (i+1) </td>
          <!-- <td>{{ myOperation. }}</td> -->
          <td data-label="Número de Documento: "  class="text-center"> operation.id_pedido </td>
          <td data-label="Tipo de solicitud: "  > operation.motivo </td>
          <td data-label="Remitente: "  class="text-center"> operation.tipo_nombre </td>
          <td data-label="Asunto: "  class="text-center"> operation.tipo_nombre </td>
          <td data-label="Fecha: "  class="text-center"> operation.tipo_nombre </td>
          <td data-label="Área destino: "  class="text-center"> operation.tipo_nombre </td>
          <td data-label="Estado: "  class="text-center  mr-2">
              <nb-progress-bar status="primary" placement="top" ngbTooltip=" operation.estado_nombre " [value]="80"
                size="xs"></nb-progress-bar>
            </td>
          <td data-label="Acciones: "  class="text-center"> 
              <button ngbTooltip="Ver" class="btn btn-warning btn-circle" >
                  <span class=" fa fa-trash"></span>
                </button>
                <button ngbTooltip="Aceptar" class="btn btn-success btn-circle" >
                    <span class=" fa fa-trash"></span>
                  </button>
               <button ngbTooltip="Derivar" class="btn btn-primary btn-circle" >
                <span class=" fa fa-trash"></span>
              </button>
          </td>
         

          <td data-label="N: "  class="lamb-acctions text-center">
              <nb-radio-group formControlName="es_credito"  (ngModelChange) = "onFormapago($event)" name="forma_pago">
                  <nb-radio value="N"></nb-radio>
              </nb-radio-group>

          </td>
        </tr>
      </tbody>
    </table>

  </nb-card-body>
</nb-card>