
<div class="col-md-12 table-responsive">

  <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center"># </th>
          <th class="text-center">Origen</th>
          <th>Destino</th>
          <th class="text-center">Fecha de recepción </th>
          <th class="text-center">Fecha de derivado</th>
          <th class="text-center">Observacion</th>
          <th class="text-center">Url</th>
          <th class="text-center">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td class="text-center"> 
          </td>
          <td class="text-center"> 65.01.09 </td>
          <td> 1.03.05 </td>
          <td> 2 </td>
          <td><em> 01 Internet empresarial UN Residencia Señoritas </em></td>
          
          <td  class="text-center"> 1997 </td>
          <td class="text-center"> 1692.5 </td>
          <td class="text-center  mr-2">
           590.0
          </td>

        </tr>
        <tr >
            <td class="text-center"> 
            </td>
            <td class="text-center"> 65.01.09 </td>
            <td> 1.03.05 </td>
            <td> 2 </td>
            <td><em> 01 Internet empresarial UN Residencia Señoritas </em></td>
            
            <td class="text-center"> 1997 </td>
            <td class="text-center"> 1692.5 </td>
            <td class="text-center  mr-2">
             590.0
            </td>
  
          </tr>
      </tbody>
    </table>

    
    
</div>
<br>
